{{- $author := dict "@type" "Person" "name" "AJ Djalali" "url" .Site.BaseURL "jobTitle" "Research Faculty" "affiliation" (dict "@type" "Organization" "name" "Georgia Institute of Technology") "sameAs" (slice "https://github.com/alexdjalali/" "https://www.linkedin.com/in/alex-djalali-272502273/") -}}

{{- if .IsHome -}}
{{/* Homepage: WebSite schema */}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "{{ .Site.Title }}",
  "url": "{{ .Site.BaseURL }}",
  "author": {{ $author | jsonify | safeJS }}
}
</script>
{{- end -}}

{{- if eq .Section "posts" -}}
{{- if .IsPage -}}
{{/* Blog post pages: BlogPosting schema */}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ .Title }}",
  "description": "{{ .Description | default .Summary | plainify | truncate 160 }}",
  "url": "{{ .Permalink }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  },
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
  "author": {{ $author | jsonify | safeJS }},
  {{- with .Params.images }}
  "image": "{{ index . 0 | absURL }}",
  {{- end }}
  "keywords": [{{ range $i, $k := (.Keywords | default .Params.tags) }}{{ if $i }}, {{ end }}"{{ $k }}"{{ end }}]
}
</script>
{{- end -}}
{{- end -}}

{{- if not .IsHome -}}
{{/* All non-home pages: BreadcrumbList schema */}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ .Site.BaseURL }}"
    }
    {{- if .Parent }}
    {{- if ne .Parent.RelPermalink "/" }},
    {
      "@type": "ListItem",
      "position": 2,
      "name": "{{ .Parent.Title | default (.Parent.Kind | title) }}",
      "item": "{{ .Parent.Permalink }}"
    }
    {{- end }}
    {{- end }}
    {{- if .IsPage }},
    {
      "@type": "ListItem",
      "position": {{ if and .Parent (ne .Parent.RelPermalink "/") }}3{{ else }}2{{ end }},
      "name": "{{ .Title }}",
      "item": "{{ .Permalink }}"
    }
    {{- end }}
  ]
}
</script>
{{- end -}}
