<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
<meta name="color-scheme" content="light dark">
<meta name="theme-color" content="#c0392b">

{{ if .Site.Params.csp }}
{{ partial "csp.html" . }}
{{ end }}

{{ with (.Site.Params.displayName | default .Site.Params.author) }}
<meta name="author" content="{{ . }}">{{ end }}
<meta name="description" content="{{ .Description | default (.Summary | default .Site.Params.description ) }}">
{{- $keywords := "" -}}
{{- with .Keywords -}}
  {{- $keywords = delimit . ", " -}}
{{- end -}}
{{- if not $keywords -}}
  {{- with .Params.tags -}}
    {{- $keywords = delimit . ", " -}}
  {{- end -}}
{{- end -}}
{{- if not $keywords -}}
  {{- $keywords = .Site.Params.keywords -}}
{{- end -}}
<meta name="keywords" content="{{ $keywords }}">
{{ if or .Params.fediverseCreator .Site.Params.fediverseCreator }}<meta name="fediverse:creator" content="{{ .Params.fediverseCreator | default .Site.Params.fediverseCreator }}" />{{end}}

{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}
