{{ $related := .Site.RegularPages.Related . }}
{{ $prev := .PrevInSection }}
{{ $next := .NextInSection }}
{{ $filtered := slice }}
{{ range $related }}
  {{ if and (ne . $prev) (ne . $next) }}
    {{ $filtered = $filtered | append . }}
  {{ end }}
{{ end }}
{{ $filtered = $filtered | first 3 }}
{{ with $filtered }}
<section class="related-posts">
  <h3><i class="fa-solid fa-newspaper" aria-hidden="true"></i> Related Posts</h3>
  <div class="related-posts-grid">
    {{ range . }}
    <a class="related-post-card" href="{{ .Permalink }}">
      <div class="related-post-title">{{ .Title }}</div>
      <div class="related-post-date">
        <time datetime="{{ .Date.Format "2006-01-02" }}">
          {{ .Date | time.Format "January 2, 2006" }}
        </time>
      </div>
    </a>
    {{ end }}
  </div>
</section>
{{ end }}
