{{ define "title" }}
  Series: {{ .Title | title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container page">
    <header>
      <h1 class="title">
        <a class="title-link" href="{{ .Permalink | safeURL }}">
          {{ .Title | title }}
        </a>
      </h1>
    </header>
    {{ .Content }}
    <ol class="series-post-list">
      {{ range .Pages.ByDate }}
        <li class="series-post-item has-link" onclick="window.location='{{ .RelPermalink }}'">
          <strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong>
          <time>{{ .Date.Format "January 2, 2006" }}</time>
          {{ with .Description }}
            <span class="pub-abstract">{{ . }}</span>
          {{ end }}
        </li>
      {{ end }}
    </ol>
  </section>
{{ end }}
